nav {
  background-color: rgb(246, 178, 95);
  color: white;
  height: 65px;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
